<!-- <courses></courses> -->

<!-- <app-prop [isBackground]="true" (change)="onChange($event)"></app-prop> -->
<!-- 
<app-panel>
  <ng-container class="heading"><h1>heading</h1></ng-container>
  <ng-container class="body">
    <h1>thhis is body section</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro excepturi ratione neque ipsum, omnis iste!</p>
  </ng-container>
</app-panel> -->

<!-- <app-course></app-course> -->

<!-- <app-switch-case></app-switch-case> -->

<app-ng-class-example></app-ng-class-example>